<h1><%= @author.name %></h1>
<p><strong>Is the author dead? </strong><%= @author.deceased ? 'yes' : 'no' %></p>
<% if @user.librarian %>
  <%= button_to "Edit Author", edit_author_path(@author), class:"btn btn-primary", method: :get %>
<% end %>
<br><br>

<% if @author.books != [] %>
  <h2>Books by: <%= @author.name %></h2>
  <% @author.books.each do |book| %>
    <p><%= link_to "#{book.title}", book_path(book) %> - <%= link_to "#{book.genre.name}", genre_path(book.genre) %></p>
  <% end %>
<% end %>