<h1><%= @user.name %></h1>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Librarian?</strong> <%= @user.librarian ? 'yes' : 'no' %></p>
<br>
<div>
  <p><%= button_to "Change Password", edit_user_path(@user), class: "btn btn-primary", method: :get %></p>
  <p><%= button_to "View Your Books", user_books_path(@user), class: "btn btn-primary", method: :get %></p>
</div>
<br>